<nav class="bg-blue-500 p-4">
  <div class="container mx-auto flex items-center">

    <!-- Hamburger Icon for Mobile -->
    <div class="block lg:hidden mr-auto">
      <button class="text-white" (click)="toggleMobileNav()">
        <fa-icon [icon]="isMobileNavOpen ? faTimes : faBars" class="text-2xl"></fa-icon>
      </button>
    </div>

    <a href="/" class="text-white text-xl font-bold mx-auto lg:mx-0">Kiwano Frugt Engros</a>

    <div *ngIf="isMobileNavOpen" class="block lg:hidden ml-auto">
      <button class="text-white" (click)="toggleMobileNav()">
        <fa-icon [icon]="faTimes" class="text-2xl"></fa-icon>
      </button>
    </div>

    <div class="hidden lg:flex flex-grow justify-center space-x-4">

      <a href="/" class="text-white font-bold">Forside</a>
      <a href="/produkter" class="text-white font-bold">Produkter</a>
      <a href="/om-os" class="text-white font-bold">Om os</a>
      <a href="/kontakt" class="text-white font-bold">Kontakt</a>
      <a href="/faq" class="text-white font-bold">FAQ</a>

    </div>

    <div class="hidden lg:flex items-center space-x-4">

      <p-iconField iconPosition="right">
        <p-inputIcon styleClass="pi pi-search" class="ml-4 cursor-pointer"></p-inputIcon>
        <input type="text" pInputText placeholder="Søg efter produkt">
      </p-iconField>


      <a href="/favoritter" class="text-white" pTooltip="Favoritter" tooltipPosition="bottom">
        <fa-icon [icon]="faHeart" class="text-2xl"></fa-icon>
      </a>

      <a href="/kurv" class="text-white" pTooltip="Kurv" tooltipPosition="bottom">
        <fa-icon [icon]="faCartShopping" class="text-2xl"></fa-icon>
      </a>

      <a href="/konto" class="text-white" pTooltip="Min konto" tooltipPosition="bottom">
        <fa-icon [icon]="faUser" class="text-2xl"></fa-icon>
      </a>

    </div>


    <div *ngIf="isMobileNavOpen" class="lg:hidden absolute top-0 left-0 w-full h-full bg-blue-500">
      <div class="flex flex-col items-center mt-16 space-y-4">
        <div *ngIf="isMobileNavOpen" class="block lg:hidden ml-auto mr-5">
          <button class="text-white" (click)="toggleMobileNav()">
            <fa-icon [icon]="faTimes" class="text-2xl"></fa-icon>
          </button>
        </div>
        <a href="#" class="text-white font-bold">Home</a>
        <a href="#" class="text-white font-bold">About</a>
        <a href="#" class="text-white font-bold">Services</a>
        <a href="#" class="text-white font-bold">Contact</a>
        <a href="#" class="text-white">
          <fa-icon [icon]="faHeart" class="text-2xl"></fa-icon>
        </a>
        <a href="#" class="text-white">
          <fa-icon [icon]="faCartShopping" class="text-2xl"></fa-icon>
        </a>
        <a href="#" class="text-white">
          <fa-icon [icon]="faUser" class="text-2xl"></fa-icon>
        </a>
      </div>
    </div>

  </div>
</nav>
