<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="py-6">
    <div>
    <h1 class="text-3xl font-bold mb-2">Produkter</h1>
    <p>
      <p-breadcrumb class="max-w-full" [model]="items" [home]="home"></p-breadcrumb>
    </p>
    </div>
  </div>
    <div class="card flex justify-content-center">
      <div class="flex flex-wrap gap-3">


          <div class="flex align-items-center">
              <p-radioButton name="pizza" value="Cheese" [(ngModel)]="ingredient" inputId="ingredient1"></p-radioButton>
              <label for="ingredient1" class="ml-2">Cheese</label>
          </div>

          
  </div>
  </div>
</div>
