<section class="relative h-96 flex items-center justify-center bg-cover bg-center text-white">
  <img
    src="https://images.unsplash.com/photo-1567923162066-5e91441f9314?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMTI0Mzl8MHwxfHNlYXJjaHwzfHxyb3NraWxkZXxlbnwwfHx8fDE2NzUzNjEwNzM&ixlib=rb-4.0.3&q=80&w=1080"
    alt="About Us Background Image" class="absolute inset-0 w-full h-full object-cover" style="z-index: -1;">
  <div class="text-center">
    <h1 class="text-5xl font-bold mb-4">Historien om forsyning af byens borgere og flertallet af byens restauranter</h1>
  </div>
</section>

<br/>

<section class="relative h-auto md:h-96 flex items-center justify-center bg-cover bg-center bg-amber-400 text-white">
  <div class="container mx-auto text-white grid grid-cols-1 md:grid-cols-2 gap-2 md:items-center">
    <div class="mb-4 md:mb-0 md:text-center">
      <h1 class="text-4xl md:text-5xl font-bold mb-4 text-center">Vores Historie</h1>
      <p class="text-lg md:text-2xl">
        Roskilde fik for 29 år siden en ny enkeltmandsvirksomhed. Siden den 15. december 1993 har Anan været indehaver
        af frugt og grønt forretningen som på daværende tidspunkt gik under navnet DAN EAST V/ANAN BAKR. I løbet af
        perioden har han ikke bare forsynet Roskildes borgere, men også flertallet af byens restauranter med friske varer.
      </p>
    </div>

    <div class="md:text-center">
      <p class="text-lg md:text-2xl">
        Siden den 01. september 2012 har der været registreret et navneskift, hvor virksomheden i dag hedder Kiwano Frugt Engros. I dag handler og leverer
        virksomheden kun friske varer mellem B2B.
      </p>
    </div>
  </div>
</section>



<br/>

<div class="text-center mt-4">
  <img src="assets/avis-billede-anan.png" class="mx-auto max-w-full" alt="Anan's Image">
</div>
