<section class="relative flex items-center justify-center bg-cover bg-center text-white h-screen md:h-96">
  <img
    src="https://images.unsplash.com/photo-1488459716781-31db52582fe9?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMTI0Mzl8MHwxfHNlYXJjaHwyMXx8ZnJ1aXRzfGVufDB8fHx8MTY3NTMzMzAxNQ&ixlib=rb-4.0.3&q=80&w=1080"
    alt="About Us Background Image" class="absolute inset-0 w-full h-full object-cover" style="z-index: -1;">
  <div class="relative z-10 text-center p-4">
    <h1 class="text-4xl md:text-5xl lg:text-6xl font-bold mb-4">Engroshandel med frugt og grøntsager siden 1993</h1>
    <h2 class="text-2xl md:text-3xl lg:text-4xl mt-4">Vi er en del af Nordeuropas største markedsplads</h2>
    <div class="mt-5">
      <a href="/produkter">
        <button
          class="mt-8 inline-block bg-white border border-transparent rounded-md py-3 px-8 text-base font-medium text-gray-900 opacity-80 hover:bg-amber-400">
          Se vores produkter
        </button>
      </a>
    </div>
  </div>
  <div class="absolute inset-0 bg-black opacity-50"></div>
</section>

<section class="bg-amber-400 py-8">
  <div class="container mx-auto grid grid-cols-1 md:grid-cols-3 gap-4 text-white">
    <div class="md:flex md:flex-col md:items-center md:border-r md:pr-4">
      <div class="flex items-center">
        <span class="text-2xl font-bold md:mr-2 md:mb-0 mb-2">&#10003;</span>
        <h3 class="text-lg md:text-2xl font-bold mb-2">
          Vi tilbyder Gratis fragt
        </h3>
      </div>
      <hr class="border-white my-2 md:hidden">
    </div>

    <div class="md:flex md:flex-col md:items-center md:border-r md:pr-4">
      <div class="flex items-center">
        <span class="text-2xl font-bold md:mr-2 md:mb-0 mb-2">&#10003;</span>
        <h3 class="text-lg md:text-2xl font-bold mb-2">
          Vi giver højt serviceniveau
        </h3>
      </div>
      <hr class="border-white my-2 md:hidden">
    </div>

    <div class="md:flex md:flex-col md:items-center">
      <div class="flex items-center">
        <span class="text-2xl font-bold md:mr-2 md:mb-0 mb-2">&#10003;</span>
        <h3 class="text-lg md:text-2xl font-bold mb-2">
          Vi leverer sunde og friske varer
        </h3>
      </div>
      <hr class="border-white my-2 md:hidden">
    </div>
  </div>
</section>

<div class="relative text-white" style="background-color: rgb(111 78 55);">
  <div class="h-56 bg-indigo-600 sm:h-72 md:absolute md:left-0 md:h-full md:w-1/2">
    <img class="w-full h-full object-cover"
         src="https://images.unsplash.com/photo-1601478424553-59be2437683a?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMTI0Mzl8MHwxfHNlYXJjaHwxfHxraXdhbm8lMjB8ZW58MHx8fHwxNjc1MzQwNjI4&ixlib=rb-4.0.3&q=80&w=1080">
  </div>
  <div class="relative max-w-7xl mx-auto px-4 py-12 sm:px-6 lg:px-8 lg:py-16 opacity-100">
    <div class="md:ml-auto md:w-1/2 md:pl-10">
      <h4 class="text-base font-semibold uppercase tracking-wider text-gray-200">KIWANO FRUGT ENGROS</h4>
      <h2 class="mt-2 text-3xl font-extrabold tracking-tight sm:text-4xl text-white">Friskt udvalg til dit køkken</h2>
      <p class="mt-3 text-lg text-white">
        Vi har et stort udvalg af friske frugter og grøntsager fra hele verden, der skal bidrage til dit køkken. Der
        bliver løbende tilføjet flere produkter til webshoppen for også at tilbyde lokale varer og specialiteter.
      </p>
      <a href="/produkter">
        <button
          class="mt-8 inline-block bg-white border border-transparent rounded-md py-3 px-8 text-base font-medium text-gray-900 opacity-80 hover:bg-amber-400">
          Se vores produkter
        </button>
      </a>
    </div>

  </div>
</div>

<section class="bg-gray-50">
  <div class="mx-auto font-normal p-4 md:text-lg max-w-7xl md:p-24 lg:p-16 space-y-8 bg-gray-50 text-gray-900">
    <h2 class="font-bold text-5xl my-3 text-center max-w-xl m-auto text-amber-400">Nordeuropas største markedsplads</h2>
    <div class="flex space-x-8">
      <p class="m-auto text-gray-900 text-2xl">
        Kiwano Frugt Engros er en del af Nordeuropas største markedsplads og distributionscenter for frugt/grønt som
        lokalisere sig i Høje-Taastrup Transportcenter, Copenhagen Market. Man har samlet et bredt spektrum af friske
        fødevareprodukter under samme tag, samtidig med at man flyttede torvene ud fra bykernen.
      </p>
      <p class="m-auto text-gray-900 text-2xl">
        Tidligere lå Grønttorvet i Valby som efter en ekstraordinær generalforsamling i 2013 besluttede at opføre
        Nordeuropas største markedsplads og distributionscenter for frugt/grønt, blomster/tilbehør og andre relaterede
        fødevarer.
      </p>
    </div>
  </div>
</section>

<section>
  <div class="mx-auto my-0 max-w-7xl py-6 px-6 text-center">
    <img class="w-full rounded-lg" src="assets/billede_fra_taastrup.png">
  </div>
</section>
