<section>
  <div class="relative">
    <div class="lg:relative bg-amber-400">
      <div class="mx-auto max-w-7xl w-full pt-16 pb-20 text-center lg:py-48 lg:text-left bg-amber-400">
        <div class="px-4 lg:w-1/2 sm:px-8 xl:pr-16">
          <h1
            class="text-4xl tracking-tight font-extrabold text-gray-900 sm:text-5xl md:text-6xl lg:text-5xl xl:text-6xl">
            <span class="block xl:inline">Kontakt os</span>
          </h1>
          <p class="mt-3 max-w-md mx-auto text-lg sm:text-xl md:mt-5 md:max-w-3xl">
            Du er altid velkommen til at kontakte os. Ring eller skriv, vi er klar til at hjælpe dig.
          </p>
          <div class="mt-10 sm:flex sm:justify-center lg:justify-start">
            <div class="rounded-md shadow">
              <a href="/produkter"
                 class="w-full flex items-center justify-center px-8 py-3 border border-transparent text-base font-medium rounded-md text-white md:py-4 md:text-lg md:px-10 bg-gray-900">Bestil
                nu</a>
            </div>
            <div class="mt-3 rounded-md shadow sm:mt-0 sm:ml-3"></div>
          </div>
        </div>
      </div>
      <div class="relative w-full h-64 sm:h-72 md:h-96 lg:absolute lg:inset-y-0 lg:right-0 lg:w-1/2 lg:h-full">
        <img class="absolute inset-0 w-full h-full object-cover"
             src="https://images.unsplash.com/photo-1542838132-92c53300491e?crop=entropy&cs=tinysrgb&fit=max&fm=jpg&ixid=MnwzMTI0Mzl8MHwxfHNlYXJjaHwzfHxtYXJrZXR8ZW58MHx8fHwxNjc1MzQyMzg0&ixlib=rb-4.0.3&q=80&w=1080">
      </div>
    </div>
  </div>
</section>
<div class="mx-auto my-0 max-w-7xl py-6 px-6 block"></div>
<section>
  <div class="mx-auto my-0 max-w-7xl py-6 px-6">
    <h2 class="tracking-tight font-extrabold sm:text-3xl md:text-3xl text-3xl">Kontaktinformationer</h2>
  </div>
  <div class="mx-auto my-0 max-w-7xl py-6 px-6">
    <h3 class="tracking-tight font-bold text-2xl sm:text-2xl md:text-2xl lg:text-2xl text-gray-800">
      Har du spørgsmål om vores produkter, priser, levering, ordrestatus eller øvrige spørgsmål, er du velkommen til at
      ringe eller skrive til os.
    </h3>
  </div>
  <div class="mx-auto my-0 max-w-7xl py-6 px-6">
    <h3 class="tracking-tight text-gray-800 font-medium md:text-base sm:text-base text-xl">
      Webshoppen bliver løbende opdateret med flere varer. Hvis der er nogen varer, som du ikke kan finde og har brug
      for, har du mulighed for at tilføje dem i feltet "Tilføj en kommentar" ved kassen. Varerne og din kommentar bliver
      automatisk tilføjet til din ordrebekræftelse og sendt til den afgivet mail. Din faktura bliver udarbejdet manuelt
      og vil derfor tilpasses de yderligere varer, der måtte bestilles. Din faktura fremsendes først efter din
      bestilling er leveret.
    </h3>
  </div>
</section>
<section>
  <div class="py-20 mx-auto max-w-7xl px-6">
    <div class="grid lg:grid-cols-3 gap-12">
      <div class="rounded-md bg-amber-400">
        <div class="px-10 py-12 bg-amber-400">
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-gray-50 text-gray-600">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor" aria-hidden="true" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z"></path>
            </svg>
          </div>
          <h3 class="font-semibold pt-3 pb-5 text-gray-50 text-2xl">Mail</h3>
          <p class="text-gray-50 text-2xl">Kiwano@hotmail.dk</p>
        </div>
      </div>

      <div class="rounded-md bg-amber-400">
        <div class="px-10 py-12 bg-amber-400">
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-gray-50 text-gray-600">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor" aria-hidden="true" stroke-width="2">
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M3 5a2 2 0 012-2h3.28a1 1 0 01.948.684l1.498 4.493a1 1 0 01-.502 1.21l-2.257 1.13a11.042 11.042 0 005.516 5.516l1.13-2.257a1 1 0 011.21-.502l4.493 1.498a1 1 0 01.684.949V19a2 2 0 01-2 2h-1C9.716 21 3 14.284 3 6V5z"></path>
            </svg>
          </div>
          <h3 class="font-semibold pt-3 pb-5 text-gray-50 text-2xl">Mobil</h3>
          <a href="tel:+4540321885"><p class="text-gray-50 text-2xl text-decoration-underline">+45 40 32 18 85</p></a>
        </div>
      </div>

      <div class="rounded-md bg-amber-400">
        <div class="px-10 py-12 bg-amber-400">
          <div class="flex items-center justify-center h-12 w-12 rounded-md bg-gray-50 text-gray-600">
            <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24"
                 stroke="currentColor" aria-hidden="true" stroke-width="2">
              <path d="M9 17a2 2 0 11-4 0 2 2 0 014 0zM19 17a2 2 0 11-4 0 2 2 0 014 0z"></path>
              <path stroke-linecap="round" stroke-linejoin="round"
                    d="M13 16V6a1 1 0 00-1-1H4a1 1 0 00-1 1v10a1 1 0 001 1h1m8-1a1 1 0 01-1 1H9m4-1V8a1 1 0 011-1h2.586a1 1 0 01.707.293l3.414 3.414a1 1 0 01.293.707V16a1 1 0 01-1 1h-1m-6-1a1 1 0 001 1h1M5 17a2 2 0 104 0m-4 0a2 2 0 114 0m6 0a2 2 0 104 0m-4 0a2 2 0 114 0"></path>
            </svg>
          </div>
          <h3 class="font-semibold pt-3 pb-5 text-gray-50 text-2xl">Adresse</h3>
          <p class="text-gray-50 text-2xl">Litauen Alle 13, 2630 Taastrup</p>
        </div>
      </div>
    </div>
  </div>
</section>
