<section>
    <div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8 py-6">
        <p>
            <strong>
                Generelle oplysninger
            </strong>
        </p>
        <p>
            Kiwano Frugt Engros
        </p>
        <p>
            Enkeltmandsvirksomhed
        </p>
        <p>
            CVR: 17344234
        </p>
        <p>
            Litauen Alle 13, 2630 Taastrup
        </p>
        <a href="mailto:Kiwano@hotmail.dk ">
            <p>
                Kiwano@hotmail.dk
            </p>
        </a>
        <a href="tel:+4540321885">
            <p>
                +45 40 32 18 85
            </p>
        </a>
        <p>
            <strong>
                Betaling 
            </strong>
        </p>
        <p>
            Vi tilbyder betaling med bankoverførsel, som bliver sendt via Dinero. Beløbet indbetales på bankkonto:
        </p>
        <p>
            Erhvervskonto / Reg.nr. 0525 / Kontonr. 627295.
        </p>
        <p>
            Vi opkræver ikke gebyrer. 
        </p>
        <p>
            Alle priser er angivet uden moms.
        </p>
        <p>
            <strong>
                Tilføj yderligere varer ved kassen
            </strong>
        </p>
        <p>
            Webshoppen bliver løbende opdateret med flere varer. Hvis der er nogen varer, som du ikke kan finde og har brug for, har du mulighed for at tilføje dem i feltet "Tilføj en kommentar" ved kassen. Varerne og din kommentar bliver automatisk tilføjet til din ordrebekræftelse og sendt til den afgivet mail. Din faktura bliver udarbejdet manuelt og vil derfor tilpasses de yderligere varer, der måtte bestilles. Din faktura fremsendes først efter din bestilling er leveret.
        </p>
        <p>
            <strong>
                Fragt 
            </strong>
        </p>
        <p>
            Vi leverer gratis fragt.
        </p>
        <p>
            <strong>
                Ingen fortrydelsesret 
            </strong>
        </p>
        <p>
            Følgende aftaler kan ikke fortrydes: 
        </p>
        <p>
            Levering af fødevarer eller andre varer til virksomhedens løbende forbrug, som leveres fysisk til arbejdsplads af en erhvervsdrivende, der ofte og regelmæssigt betjener faste ruter. 
        </p>
        <p>
            Levering af varer, som må antages at blive forringet eller forældet hurtigt.
        </p>
        <p>
            Levering af forseglede varer, som af sundhedsbeskyttelses- eller hygiejnemæssige årsager ikke er egnede til at blive returneret, og hvor forseglingen er blevet brudt efter leveringen.
        </p>
        <p>
            <strong>
                Persondatapolitik 
            </strong>
        </p>
        <p>
            Vi har brug for følgende oplysninger, når du handler hos os: 
        </p>
        <p>
            Navn, adresse, tlf.nr. og mailadresse.
        </p>
        <p>
            Vi registrerer dine personoplysninger for at kunne levere varen til dig.
        </p>
    </div>
</section>